@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit&display=swap');
:root {
--Green: hsl(75, 94%, 57%) ;
--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);

}


body {
background-color: var(--Off-Black); 
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
/* margin: 200px ; */
}
.main {
    display: flex;
    background-color: var(--Dark-Grey);
    padding: 10px;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    justify-content: center;
    align-items: center;
    width: 400px;
    height:700px;
    border-radius: 10px;

}
.main img {
    border-radius: 50%;
    width: 6rem;
}
h1 {
    color: var(--White);
    width: 700;
}
h3 {
    color: var(--Green);
} 

h4 {
    color: var(--White);
    opacity: 0.5;
} 
.button {
    display: flex;
    flex-direction: column;
    gap:20px ;

 

}
.item {
    background-color: var(--Grey);
    color: var(--White);
    padding: 19px;
    text-align: center;
    width: 269px;
    border-radius: 10px;
    font-weight: 700;
}
.item:hover {
    background-color: var(--Green);
    color: var(--Off-Black);
}
@media   (max-width:376px) {

    .main {
        margin: 50px 25px;
    } 


}